@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Avenir, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: url("assets/BG.jpg");
    background-size: cover;
    background-attachment: fixed;
    /*url(https://picsum.photos/1920/1080);*/
    /*background-color: rgba(5,2,18,0.95);*/
    /*backdrop-filter: blur(1rem);*/
}

#app {
    padding: .6rem;
}